:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__button,
.modal-form__button {
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-self: center;
}

.modal-form__button {
  display: flex;
  margin-left: 12px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:focus .close-btn__icon {
  fill: var(--accent-color);
}

.our-contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .our-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.our-contacts__link:hover, .our-contacts__link:focus {
  color: var(--accent-color);
}

.our-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-contacts__link:hover .our-contacts__icon,
.our-contacts__link:focus .our-contacts__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .our-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.our-contacts__link:hover,
.our-contacts__link:focus {
  color: var(--accent-color);
}

.logo__word_color {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
  }
}

.logo_inverse {
  color: var(--primary-white-color);
  margin-right: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  height: 100vh;
  transform: translateX(-50%);
  padding: 48px 40px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.mobile-menu__close-icon {
  width: 18px;
  height: 18px;
}

.header__mobile-menu-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-site-nav__link:hover, .mobile-menu-site-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-our-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-our-contacts__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mobile-menu-our-contacts__link_text_big {
    font-size: 34px;
  }
}

.mobile-menu-our-contacts__link:hover, .mobile-menu-our-contacts__link:focus {
  color: var(--accent-color);
}

.mobile-menu-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu-social-list__item {
  position: relative;
}

.mobile-menu-social-list__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu-social-list__item:not(:last-child)::after {
  position: absolute;
  content: '';
  display: inline-block;
  right: -10px;
  bottom: 0;
  width: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform-origin: right;
  transform: rotate(90deg);
}

@media screen and (min-width: 480px) {
  .mobile-menu-social-list__item:not(:last-child)::after {
    width: 22px;
  }
}

.mobile-menu-social-list__link {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu-social-list__link {
    font-size: 18px;
  }
}

.mobile-menu-site-nav__link_current {
  color: var(--accent-color);
}

.mobile-menu-bottom {
  margin-top: 40px;
}

.modal-form {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form__wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 20px;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__term:checked + .modal-form__desc .check-box__icon {
  opacity: 1;
  background-image: url(../../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.modal-form__term:focus + .modal-form__desc .check-box__icon {
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

.modal-form__term:checked + .modal-form__desc .modal-form__check-box {
  border: none;
  outline: none;
}

.modal-form__term:focus + .modal-form__desc .modal-form__check-box {
  border: none;
}

.modal-form__desc {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .modal-form__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-desc__box {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.modal-form__check-box {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box__icon {
  opacity: 0;
  border-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__link {
  display: block;
  color: var(--accent-color);
}

.modal-form__field_pb {
  padding-bottom: 20px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  max-height: 610px;
  overflow-y: scroll;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 580px;
  }
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
}

.social-list {
  display: inline-flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.footer-social-list__link,
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus,
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-social-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.footer-social-list__item {
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc((100% - 40px) / 4);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-social-list__icon {
  fill: #ffffff;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.customers-list__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .customers-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .customers-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--accent-color);
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover, .customers-list__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.features-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features-list__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
    height: 250px;
  }
}

.features-list__icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.features-list__title {
  margin-left: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

@media screen and (max-width: 768px) {
  .features-list__title {
    text-align: center;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer-contacts-list {
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contacts-list__link {
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-list__link:hover,
.footer-contacts-list__link:focus {
  color: var(--accent-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__button {
  display: flex;
  margin-left: 12px;
  padding: 10px 28px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.footer-form__label {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer-form__label {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__label {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    width: 100%;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.footer-form__input {
  padding-left: 16px;
  line-height: 1.25;
  width: 100%;
  height: 50px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
}

@media screen and (min-width: 320px) {
  .footer__left-side {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__left-side {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left-side {
    flex-direction: row;
    align-items: baseline;
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) {
  .footer__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right-side {
    margin-left: 30px;
    flex-basis: calc((100% - 30px) / 2);
    align-items: self-start;
  }
}

@media screen and (min-width: 320px) {
  .footer-address-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-address-side {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-side {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
    align-items: self-start;
  }
}

@media screen and (min-width: 320px) {
  .footer-social-list-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-list-side {
    margin-left: 30px;
    flex-basis: calc((100% - 30px) / 2);
    align-items: self-start;
  }
}

.header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 16px 16px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header__site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__site-nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header__our-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__our-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__our-contacts {
    margin-left: auto;
    flex-direction: row;
  }
}

.site-nav__item {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link_current::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav__link_current {
  color: var(--accent-color);
}

.hero {
  width: 100%;
  margin: 0px auto;
  padding: 118px 0px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-desktop@2x.jpg);
  }
}

.hero-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero-title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-set__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project {
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover, .project:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__box {
  position: relative;
  overflow: hidden;
}

.project__subtitle {
  font-size: 18px;
  line-height: 1.58;
  color: var(--primary-white-color);
  position: absolute;
  padding: 64px 24px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project__subtitle,
.project:focus .project__subtitle {
  transform: translateY(0);
  opacity: 1;
}

.project__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-list__item {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.section__team_bg_color {
  background-color: var(--button-bg-color);
}

@media screen and (max-width: 1199px) {
  .section__works {
    display: none;
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-list__item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.works-list__descripton {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.section__works_pt_zero {
  padding-top: 0;
}
/*# sourceMappingURL=main.css.map */