.our-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.our-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .our-contacts__link:hover &,
  .our-contacts__link:focus & {
    fill: var(--accent-color);
  }
}

.our-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.our-contacts__link:hover,
.our-contacts__link:focus {
  color: var(--accent-color);
}
