// .logo {
//   .footer {
//     margin-bottom: 20px;
//     margin-right: 0;
//     color: var(--primary-white-color);
//   }
// }

.logo__word_color {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}

.logo_inverse {
  color: var(--primary-white-color);
  margin-right: 0;
}
