.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  height: 100vh;
  overflow-y: scroll;
  transform: translateX(-50%);
  padding: 48px 40px;

  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &__close-icon {
    width: 18px;
    height: 18px;
  }
}

.header__mobile-menu-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-site-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-site-nav__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu-our-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-our-contacts__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &_text_big {
    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu-social-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:not(:last-child)::after {
    position: absolute;
    content: '';
    display: inline-block;
    right: -10px;
    bottom: 0;
    width: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform-origin: right;
    transform: rotate(90deg);
    @media screen and (min-width: 480px) {
      width: 22px;
    }
  }
}

.mobile-menu-social-list__link {
  display: block;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}

.mobile-menu-site-nav__link_current {
  color: var(--accent-color);
}

.mobile-menu-bottom {
  margin-top: 40px;
}
