.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  max-height: 610px;
  overflow-y: scroll;
  background-color: #ffffff;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 580px;
  }
}
