:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}
